body {
    background-color: #CCE8CF;
}
.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}